<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .done{
            color: red;
            text-decoration:line-through ;
        }
    </style>
</head>
<body>
    <h1>To Do List</h1>
    <form th:action="@{/add-todo}" method="post">
        <input type="text" name="title">
        <input type="submit" value="submit">
    </form>
    <table>
        <tr th:each = "todo : ${listTodos}">
            <td th:class="${todo.completed?'done':''}" th:text ="${todo.title}"></td>
            <td><a th:href="@{'/complete-todo?id='+${todo.id}}">Done</a></td>
            <td><a th:href="@{'/delete-todo?id='+${todo.id}}">Delete</a></td>
        </tr>
    </table>
</body>
</html>