<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            home
        </welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>LoginandRegisterFilter</filter-name>
        <filter-class>Filter.LoginandRegisterFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>JSPFilter</filter-name>
        <filter-class>Filter.JSPFilter</filter-class>
    </filter>
    <!--<filter-mapping>
  <filter-name>JSPFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>-->
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/product-admin</url-pattern>
        <url-pattern>/category-admin</url-pattern>
        <url-pattern>/productdetail</url-pattern>
        <url-pattern>/list-account-admin</url-pattern>
        <url-pattern>/AddCategory.jsp</url-pattern>
        <url-pattern>/Home1.jsp</url-pattern>
        <url-pattern>/stock-display-admin</url-pattern>
        <url-pattern>/stock</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginandRegisterFilter</filter-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/register</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>Controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserAdminController</servlet-name>
        <servlet-class>Controller.ListUserAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountAdminController</servlet-name>
        <servlet-class>Controller.AccountAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>infomation</servlet-name>
        <servlet-class>Controller.InfomationCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>Controller.ProductDetailAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shopping</servlet-name>
        <servlet-class>Controller.ShoppingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailUser</servlet-name>
        <servlet-class>Controller.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stock</servlet-name>
        <servlet-class>Controller.StockController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockDisplay</servlet-name>
        <servlet-class>Controller.StockDisplay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserAdminController</servlet-name>
        <url-pattern>/listuser-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountAdminController</servlet-name>
        <url-pattern>/list-account-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>infomation</servlet-name>
        <url-pattern>/infomation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shopping</servlet-name>
        <url-pattern>/shopping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailUser</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/product-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/category-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stock</servlet-name>
        <url-pattern>/stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockDisplay</servlet-name>
        <url-pattern>/stock-display-admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
